substitutions:
  name: home-assistant-voice-shack
  friendly_name: Home Assistant Voice - Shack
packages:
  Nabu Casa.Home Assistant Voice PE: github://esphome/home-assistant-voice-pe/home-assistant-voice.yaml
esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}
api:
  encryption:
    key: !secret api_encryption_key_home_assistant_voice


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
