name: Deploy Config

on:
  push:
    branches: [ '*' ]

jobs:
  deploy_config:
    runs-on: ubuntu-latest
    steps:
      - uses: joelwmale/webhook-action@2.1.0
        with:
          url: ${{ secrets.HOME_ASSISTANT_WEBHOOK_URL }}
          body: '{}'
