name: Deploy Config

on:
  workflow_run:
    workflows:
      - "Home Assistant Configuration Check"
    types:
      - completed
    branches:
      - main

jobs:
  deploy_config:
    runs-on: ubuntu-latest
    # Only deploy if the config check workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: joelwmale/webhook-action@2.1.0
        with:
          url: ${{ secrets.HOME_ASSISTANT_WEBHOOK_URL }}
          body: '{}'
