name: Home Assistant Configuration Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate:
    name: Home Assistant Core Configuration Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Home Assistant Configuration Check
        uses: frenck/action-home-assistant@v1
        with:
          secrets: fakesecrets.yaml
